.total{
    background-image: url('https://png.pngtree.com/background/20210706/original/pngtree-website-modern-minimalist-color-poster-background-picture-image_203639.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 780px;
};
